body, html {
  border: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

.color {
  
  width: 25%;
  float: left;
  height: 20%;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}

.brown {
  background-color: brown;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}